{{!-- POSTS --}}

<div class="main_post" id="post-1">    
    <div class="main_post-top" id = "admin_ala">
        <div class="main_post-desc">
            <div class="main_post-desc-title" id="admin_mpdt">
                <div class="acc_username">Username</div>
                <div class="acc_email">Email</div>
                <div class="acc_idnum">ID Number</div>
                <div class="acc_college">College</div>
            </div>
            <div class="main_post-desc-content">
                {{#each allAccounts}}
                    <div class="acc_info" id = "admin_ai">
                        <div class="acc_info-username">{{username}}</div>
                        <div class="acc_info-email">{{email}}</div>
                        <div class="acc_info-idnum">{{idNo}}</div>
                        <div class="acc_info-college">{{college}}</div>
                        <div class="acc_delete" onclick="deleteAccount('{{_id}}')"></div>
                    </div>
                {{/each}}
            </div>
        </div>

    </div>
</div>

<script>
    function deleteAccount(userId) {
        if (confirm("Are you sure you want to delete this account?")) {
            // Send an AJAX request to the server to delete the account
            fetch(`/delete-account?userId=${userId}`, {
                method: 'DELETE'
            })
            .then(response => {
                if (response.ok) {
                    // If deletion is successful, reload the page or handle it appropriately
                    location.reload();
                } else {
                    // Handle error
                    console.error('Error deleting account');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    }
</script>
