{{!-- POSTS --}}
{{#each allPosts}}
<div class="main_post" id="post-{{_id}}">    
    
                    <div class="main_post-top" onclick="navigateToPost('{{_id}}')">
                    
                        <div class = "main_post-desc">
                            <div class = "main_post-desc-poster">
                                
                                <div class = "main_post-desc-poster-pic" id="desc-poster-pic" style = "background-image: url('{{this.AccountId.photo}}')"></div>
                                
                                <div class = "main_post-desc-poster-name">
                                u/{{this.AccountId.username}}</div>
                                <div class = "main_post-desc-banner">{{Type}}</div>
                                <div class="main_post-date">{{this.Date}}</div>
                                
                            </div>
                            
                            <div class = "main_post-desc-title">
                                {{Title}}</div>
                            <div class = "main_post-desc-content">
                                {{Body}}
                            </div>
                            {{#if Image}}
                                <div class="main_post-img-container">
                                    <div class="blurred-background" style="background-color: {{RGB}};"></div>
                                    <img class="main_post-img" src="{{Image}}" alt="" {{Stat}}>
                                </div>
                            {{/if}}
                        </div>
                    
                        <div class="main_post-buttons">
                            <div class="main_vote">
                                <img class="uv" src="CCAPDEV-LOGO-2\2.png" alt="">
                                <span class = "num_vote">{{NumvoteCount}}</span>
                                <img class="dv" src="CCAPDEV-LOGO-2\3.png" alt="">
                            </div>
                            <div class="button-container">
                                <div class="main_post-buttons-comment"></div>
                                <span><span class="num_comment">{{CommentCount}}</span>Comment</span>
                            </div>

                        </div>
                    </div>
</div>
{{/each}}

<script>
    function navigateToPost(postId) {
        window.location.href = '/admin_post?postId=' + postId;
    }

    function navigateToUrl(url) {
        window.location.href = url;
    }
</script>