{{!-- MASTER-POSTS --}}
{{log this}}
<div class="main_master_post" id="{{postInfoData._id}}">
        
                    <div class="main_master_post-top">
                        <div class="main_post-desc">
                            <div class="main_post-desc-poster">
                                <div class="main_post-desc-poster-pic"></div>
                                <div class="main_post-desc-poster-name">
                                    u/{{postInfoData.AccountId.username}}
                                    Michael
                                </div>
                                <div class="main_post-desc-banner">{{postInfoData.Type}}General_Question</div>
                                <div class="main_post-date">{{postInfoData.Date}}January 21,2024</div>
                            </div>

                            <div class="main_post-desc-title">{{postInfoData.Title}}To Delete to ah</div>
                            <div class="main_post-desc-content">{{postInfoData.Body}} Kindly check admin_master_post.hbs then delete unnecessary infos</div>
                        </div>

                        <div class="main_post-buttons">
                            <div class="main_vote">
                                <img class="uv" src="/CCAPDEV-LOGO-2/2.png" alt="">
                                <span class = "num_vote">0</span>
                                <img class="dv" src="/CCAPDEV-LOGO-2/3.png" alt="">
                            </div>
                            <div class="button-container" id = "master-comment">
                                <div class="main_post-buttons-comment"></div>
                                <span><span class="num_comment">1</span>Comment</span>
                            </div>
                            <div class="button-container" id="shareButton">
                                <div class="main_post-buttons-share"></div>
                                <span>Share</span>
                            </div>
                          
                            <div class="button-container" onclick="openLoginForm_delete()">
                                <div class="main_post-buttons-delete"></div>
                                <span>Delete</span>
                            </div>                            
                        </div>
                    </div>

        <div id="loginFormModal-edit" class="modal">
            {{>editPost}}
        </div>

        <div id="loginFormModal-delete" class="modal">
            {{>deletePost}}
        </div>

        <div class="sort-search-part">
            <div class="sort-search-container">
                <div class="sort-by">
                    <div class="dropdown">
                        <button class="sort-button" onclick="toggleDropdown()" id = "admin_sort-button">Sort By: Best</button>
                        <div class="dropdown-content" id="sortOptions">
                          <a class="best" href="#">Best</a>
                          <a class="new" href="#">New</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="comment-section">

            <div class="comment-container">
                <div class="comment-profile">
                    <img class=userpfp src="/CCAPDEV-LOGO-2/user1.png">
                    <span class="threadline">|</span>
                </div>
                <div class="comment-info-container">
                    <div class="info-comment">
                        <p class="comment-by">stargirlfromscosmos</p> <span class="posted-time">&#xb7; 3 Nov 2023</span>
                    </div>
                    <div class="comment-body">
                        <p class="comment-text">heyy i've been wanting to do this nanghinayang  ako i wasn't able to get it for gesport i'm g OPPP</p>
                    </div>
                    <div class="admin_csi" >
                        <img class="uv" src="/CCAPDEV-LOGO-2/2.png">

                        <span class="vote-count" id = "admin_vc">0</span>

                        <img class="dv" src="/CCAPDEV-LOGO-2/3.png">
      
                    </div>

                </div>
            </div>

           
            
        </div>
</div>


     <style>
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
      margin-top: -10px;
    }
</style>

<script>
    function toggleDropdown() {
      var dropdownContent = document.getElementById("sortOptions");
      dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
    }
  

    window.onclick = function(event) {
      if (!event.target.matches('.sort-button')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.style.display === "block") {
            openDropdown.style.display = "none";
          }
        }
      }
    }
</script>

<style>
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
      margin-top: -10px;
    }
</style>

<script>
    function toggleDropdown() {
      var dropdownContent = document.getElementById("sortOptions");
      dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
    }
  

    window.onclick = function(event) {
      if (!event.target.matches('.sort-button')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.style.display === "block") {
            openDropdown.style.display = "none";
          }
        }
      }
    }
</script>
