{{!-- MASTER-POSTS --}}
{{!-- {{log this}} --}}
<div class="main_master_post" id="{{postInfoData._id}}">
    <div class="main_master_post-top">
        <div class="main_post-desc">
            <div class="main_post-desc-poster">
                <div class="main_post-desc-poster-pic" style="background-image: url('{{posterData.photo}}')"></div>
                <div class="main_post-desc-poster-name">
                    u/{{posterData.username}}
                </div>
                <div class="main_post-desc-banner">{{postInfoData.Type}}</div>
                <div class="main_post-date">{{postInfoData.Date}}</div>
            </div>

            <div class="main_post-desc-title">{{postInfoData.Title}}</div>
            <div class="main_post-desc-content">{{postInfoData.Body}}</div>
            {{#if postInfoData.Image}}
            <div class="main_post-img-container">
                <div class="blurred-background" style="background-color: {{postInfoData.RGB}};"></div>
                <img class="main_post-img" src="{{postInfoData.Image}}" alt="" {{postInfoData.Stat}}>
            </div>
            {{/if}}
        </div>
    </div>

    <div class="main_post-buttons">
        <div class="main_vote">
            <img class="uv" src="/CCAPDEV-LOGO-2/2.png" alt="">
            <span class="num_vote">{{postInfoData.NumvoteCount}}</span>
            <img class="dv" src="/CCAPDEV-LOGO-2/3.png" alt="">
        </div>
        <div class="button-container" id="master-comment">
            <div class="main_post-buttons-comment"></div>
            <span><span class="num_comment">{{postInfoData.CommentCount}}</span>Comment</span>
        </div>
        <div class="button-container" id="shareButton">
            <div class="main_post-buttons-share"></div>
            <span>Share</span>
        </div>
        <div class="button-container" onclick="deletePost('{{postInfoData._id}}')">
            <div class="main_post-buttons-delete"></div>
            <span>Delete</span>
        </div>
    </div>

    <div id="loginFormModal-edit" class="modal">
        {{>editPost}}
    </div>

    <div id="loginFormModal-delete" class="modal">
        {{>deletePost}}
    </div>

    <div class="sort-search-part">
        <div class="sort-search-container">
            <div class="sort-by">
                <div class="dropdown">
                    <button class="sort-button" onclick="toggleDropdown()" id="admin_sort-button">Sort By: Best</button>
                    <div class="dropdown-content" id="sortOptions">
                        <a class="best" href="#">Best</a>
                        <a class="new" href="#">New</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="comment-section">
            {{#each commentInfoData}}
            {{#if (eq this.PostId ../postInfoData._id)}}
                {{> comment commentInfoData=this replyInfoData=../replyInfoData}}
            {{/if}}
        {{/each}}

        
    </div>/

</div>

<style>
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        margin-top: -10px;
    }
</style>

<script>
    function toggleDropdown() {
        var dropdownContent = document.getElementById("sortOptions");
        dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
    }

    window.onclick = function (event) {
        if (!event.target.matches('.sort-button')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.style.display === "block") {
                    openDropdown.style.display = "none";
                }
            }
        }
    }
</script>

<script>
    function toggleDropdown() {
        var dropdownContent = document.getElementById("sortOptions");
        dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
    }

    window.onclick = function (event) {
        if (!event.target.matches('.sort-button')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.style.display === "block") {
                    openDropdown.style.display = "none";
                }
            }
        }
    }
</script>

<!-- JavaScript for deletion -->
<script>
    function deletePost(postId) {
        if (confirm("Are you sure you want to delete this post?")) {
            // Send an AJAX request to the server to delete the post
            fetch(`/delete-post?postId=${postId}`, {
                    method: 'DELETE'
                })
                .then(response => {
                    if (response.ok) {
                        // If deletion is successful, reload the page or handle it appropriately
                        location.reload();
                    } else {
                        // Handle error
                        console.error('Error deleting post');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    }
</script>
