
<div class="comment-container">
                <div class="comment-profile">
                    <img class=userpfp src="{{commentInfoData.CommenterId.photo}}">
                    <span class="threadline">|</span>
                </div>
                <div class="comment-info-container">
                    <div class="info-comment">
                        <p class="comment-by">{{commentInfoData.CommenterId.username}}</p> <span class="posted-time">&#xb7; {{commentInfoData.Date}}</span>
                    </div>
                    <div class="comment-body">
                        <p class="comment-text">{{commentInfoData.Body}}</p>
                    </div>
                    <div class="comment-section-icons">
                        <img class="upvote-icon" src="/CCAPDEV-LOGO-2/2.png">
                        <img class="upvote-icon-filled" src="/CCAPDEV-LOGO-2/16.png" hidden>

                        <span class="vote-count">{{commentInfoData.NumvoteCount}}</span>


                        <img class="downvote-icon" src="/CCAPDEV-LOGO-2/3.png">
                        <img class="downvote-icon-filled" src="/CCAPDEV-LOGO-2/17.png" hidden>


                        <div class="reply-container">
                            <button class="reply-button">
                                <span class="reply-text">Reply</span>
                            </button>
                        </div>                 
                    </div>
                    <textarea class="reply-textarea" hidden></textarea>
                    <button class="comment-button" hidden>Comment</button>
                    <button class="cancel-button" hidden>Cancel</button>
                </div>
                <div class="reply-section">
                    {{#each replyInfoData}}
                        {{!-- Reply: {{this.CommentId._id}} Comment:{{../commentInfoData._id}} --}}
                        {{#if (eq this.CommentId._id ../commentInfoData._id)}}
                            {{> reply}}
                        {{/if}}
                    {{/each}}
                </div>
</div>