{{!-- MASTER-POSTS --}}
<div class="main_master_post" id="{{postInfoData._id}}">
        
                    <div class="main_master_post-top">
                        <div class="main_post-desc">
                            <div class="main_post-desc-poster">
                                <div class="main_post-desc-poster-pic" style = "background-image: url('{{postInfoData.AccountId.photo}}')"></div>
                                <div class="main_post-desc-poster-name">
                                    u/{{postInfoData.AccountId.username}}
                                </div>
                                <div class="main_post-desc-banner" id="{{postInfoData.Type}}">{{postInfoData.Type}}</div>
                                <div class="main_post-date">{{postInfoData.Date}}</div>
                            </div>

                            <div class="main_post-desc-title">{{postInfoData.Title}}</div>
                            <div class="main_post-desc-content">{{postInfoData.Body}}</div>
                            {{#if postInfoData.Image}}
                                <div class="main_post-img-container">
                                    <div class="blurred-background" style="background-color: {{postInfoData.RGB}};"></div>
                                    <img class="main_post-img" src="{{postInfoData.Image}}" alt="" {{postInfoData.Stat}}>
                                </div>
                            {{/if}}
                        </div>

                        <div class="main_post-buttons">
                            <div class="main_vote">
                                <img class="up_vote" src="/CCAPDEV-LOGO-2/2.png" alt="">
                                <img class="up_vote_filled" src="/CCAPDEV-LOGO-2/16.png" alt="" hidden>
                                <span class = "num_vote">0</span>
                                <img class="down_vote" src="/CCAPDEV-LOGO-2/3.png" alt="">
                                <img class="down_vote_filled" src="/CCAPDEV-LOGO-2/17.png" alt="" hidden>
                            </div>
                            <div class="button-container" id = "master-comment">
                                <div class="main_post-buttons-comment"></div>
                                <span><span class="num_comment">1</span>Comment</span>
                            </div>
                            <div class="button-container" id="shareButton">
                                <div class="main_post-buttons-share"></div>
                                <span>Share</span>
                            </div>
                          
                            <div class="button-container" id ="save">
                                <div class="main_post-buttons-save"></div>
                                <div class="main_post-buttons-save-filled" hidden></div>
                                <span>Save</span>
                            </div>

                            <div class="button-container" id="editPost" onclick="openLoginForm_edit('{{postInfoData._id}}')">
                            <div class="main_post-buttons-edit"></div>
                            <span>Edit</span>
                            </div>


                            <div class="button-container" onclick="openLoginForm_delete()">
                                <div class="main_post-buttons-delete"></div>
                                <span>Delete</span>
                            </div>                            
                        </div>
                    </div>

        <div id="loginFormModal-edit" class="modal">
            {{>editPost}}
        </div>

        <div id="loginFormModal-delete" class="modal">
            {{>deletePost}}
        </div>

        <div class="comment-part-container">
            <textarea class="comment-box" placeholder="What are your thoughts?"></textarea>
            <button class="submit-comment-button">Comment</button>
            <button class="cancel-comment-button">Cancel</button>
        </div>
        
        <div class="sort-search-part">
            <div class="sort-search-container">
                <div class="sort-by">
                    <div class="dropdown">
                        <button class="sort-button" onclick="toggleDropdown()">Sort By: Best</button>
                        <div class="dropdown-content" id="sortOptions">
                          <a class="best" href="#">Best</a>
                          <a class="new" href="#">New</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="comment-section">

            <div class="comment-container">
                <div class="comment-profile">
                    <img class=userpfp src="/CCAPDEV-LOGO-2/user1.png">
                    <span class="threadline">|</span>
                </div>
                <div class="comment-info-container">
                    <div class="info-comment">
                        <p class="comment-by">stargirlfromscosmos</p> <span class="posted-time">&#xb7; 3 Jan 2024</span>
                    </div>
                    <div class="comment-body">
                        <p class="comment-text">heyy i've been wanting to do this nanghinayang  ako i wasn't able to get it for gesport i'm g OPPP</p>
                    </div>
                    <div class="comment-section-icons">
                        <img class="upvote-icon" src="/CCAPDEV-LOGO-2/2.png">
                        <img class="upvote-icon-filled" src="/CCAPDEV-LOGO-2/16.png" hidden>

                        <span class="vote-count">0</span>


                        <img class="downvote-icon" src="/CCAPDEV-LOGO-2/3.png">
                        <img class="downvote-icon-filled" src="/CCAPDEV-LOGO-2/17.png" hidden>


                        <div class="reply-container">
                            <button class="reply-button">
                                <span class="reply-text">Reply</span>
                            </button>
                        </div>                 
                    </div>
                    <textarea class="reply-textarea" hidden></textarea>
                    <button class="comment-button" hidden>Comment</button>
                    <button class="cancel-button" hidden>Cancel</button>
                </div>
                <div class="reply-section">
                    <div class="comment-container replied-comment-container">
                        <div class="comment-profile">
                            <div class=userpfp style="background-image: ${userPhoto};"></div>
                            <span class="threadline">|</span>
                        </div>
                        <div class="comment-info-container">
                            <div class="info-comment">
                                <p class="comment-by">KookyPookie</p> ▸ <span class="replying-to">@stargirlfromscosmos</span>  <span class="posted-time">&#xb7; 27 Mar 2024</span>
                            </div>
                            <div class="comment-body">
                                <p class="comment-text">Testing 2</p>
                            </div>
                            <div class="comment-section-icons">
                                <img class="upvote-icon" src="/CCAPDEV-LOGO-2/2.png">
                                <img class="upvote-icon-filled" src="/CCAPDEV-LOGO-2/16.png" hidden>

                                <span class="vote-count">0</span>


                                <img class="downvote-icon" src="/CCAPDEV-LOGO-2/3.png">
                                <img class="downvote-icon-filled" src="/CCAPDEV-LOGO-2/17.png" hidden>


                                <div class="reply-container">
                                <button class="reply-button">
                                    <span class="reply-text">Reply</span>
                                </button>
                            </div>                   
                            </div>
                            <textarea class="reply-textarea replied-textarea" hidden></textarea>
                            <button class="comment-button" hidden>Comment</button>
                            <button class="cancel-button" hidden>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- <div class="comment-container">
                <div class="comment-profile">
                    <img class=userpfp src="/CCAPDEV-LOGO-2/user1.png">
                    <span class="threadline">|</span>
                </div>
                <div class="comment-info-container">
                    <div class="info-comment">
                        <p class="comment-by">stargirlfromscosmos</p> <span class="posted-time">&#xb7; 27 Mar 2024</span>
                    </div>
                    <div class="comment-body">
                        <p class="comment-text">heyy i've been wanting to do this nanghinayang  ako i wasn't able to get it for gesport i'm g OPPP</p>
                    </div>
                    <div class="comment-section-icons">
                        <img class="upvote-icon" src="/CCAPDEV-LOGO-2/2.png">
                        <img class="upvote-icon-filled" src="/CCAPDEV-LOGO-2/16.png" hidden>

                        <span class="vote-count">0</span>


                        <img class="downvote-icon" src="/CCAPDEV-LOGO-2/3.png">
                        <img class="downvote-icon-filled" src="/CCAPDEV-LOGO-2/17.png" hidden>


                        <div class="reply-container">
                            <button class="reply-button">
                                <span class="reply-text">Reply</span>
                            </button>
                        </div>                 
                    </div>
                    <textarea class="reply-textarea" hidden></textarea>
                    <button class="comment-button" hidden>Comment</button>
                    <button class="cancel-button" hidden>Cancel</button>
                </div>
                <div class="reply-section">
                    <div class="comment-container">
                        <div class="comment-profile">
                            <div class=userpfp style="background-image: ${userPhoto};"></div>
                            <span class="threadline">|</span>
                        </div>
                        <div class="comment-info-container">
                            <div class="info-comment">
                                <p class="comment-by">KookyPookie</p> ▸ <span class="replying-to">@stargirlfromscosmos</span>  <span class="posted-time">&#xb7; 27 Mar 2024</span>
                            </div>
                            <div class="comment-body">
                                <p class="comment-text">Testing 2</p>
                            </div>
                            <div class="comment-section-icons">
                                <img class="upvote-icon" src="/CCAPDEV-LOGO-2/2.png">
                                <img class="upvote-icon-filled" src="/CCAPDEV-LOGO-2/16.png" hidden>

                                <span class="vote-count">0</span>


                                <img class="downvote-icon" src="/CCAPDEV-LOGO-2/3.png">
                                <img class="downvote-icon-filled" src="/CCAPDEV-LOGO-2/17.png" hidden>


                                <div class="reply-container">
                                <button class="reply-button">
                                    <span class="reply-text">Reply</span>
                                </button>
                            </div>                   
                            </div>
                            <textarea class="reply-textarea" hidden></textarea>
                            <button class="comment-button" hidden>Comment</button>
                            <button class="cancel-button" hidden>Cancel</button>
                        </div>
                    </div>
                </div>
            </div> --}}

           
            
        </div>
</div>


     <style>
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
      margin-top: -10px;
    }
</style>

<script>
    function toggleDropdown() {
      var dropdownContent = document.getElementById("sortOptions");
      dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
    }
  

    window.onclick = function(event) {
      if (!event.target.matches('.sort-button')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.style.display === "block") {
            openDropdown.style.display = "none";
          }
        }
      }
    }
</script>

<style>
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      z-index: 1;
      margin-top: -10px;
    }
</style>

<script>
    function toggleDropdown() {
      var dropdownContent = document.getElementById("sortOptions");
      dropdownContent.style.display = (dropdownContent.style.display === "block") ? "none" : "block";
    }
  

    window.onclick = function(event) {
      if (!event.target.matches('.sort-button')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        for (var i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.style.display === "block") {
            openDropdown.style.display = "none";
          }
        }
      }
    }
</script>
