<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="editProfile.css">
    <link rel="stylesheet" href="general.css">
    <script type="text/javascript" src="general.js"></script>
    
    <script>
        const userData = {{{json userData}}};
    </script>
    
</head>
<body>
    {{> header}}
    <div class="edit">
        <div class="wrapper">
            <div class="wrapper-left">
                <form action=""></form>
                <h1>Edit Profile</h1>
                <div class="profile-section">
                    <img id="preview" src="{{userData.photo}}" alt="Profile Picture" class="logo">
                </div>
                <div class="button-container">
                    <label for="fileInput" class="btn btn-outline-primary">Upload Photo</label>
                    <input type="file" id="fileInput" class="account-settings-fileinput visually-hidden" onchange="displayFileName()">
                    <button type="button" class="btn btn-default md-btn-flat" onclick="resetPreview()">Reset</button>
                </div>
                <span id="fileName" class="file-name visually-hidden">No file chosen</span>
            </div>
            <div class="wrapper-right">
                <div class="input-box">
                    <input type="text" placeholder="Email" value="{{userData.email}}" >
                </div>
                <div class="input-box">
                    <input type="text" placeholder="ID Number" value="{{userData.idNo}}" maxlength="8">
                </div>
                <div class="input-box">
                    <input id = "college" type="text" placeholder="College" value="{{userData.college}}" maxlength="6">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Bio" value="{{userData.bio}}">
                </div>
            </div> 
        </div>
        <button type="submit" class="btn" onclick="saveChanges()">Save Changes</button>
    </div>
    <script src="editProfile.js"></script>
</body>



</html>
